@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

html,
body {
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  background-color: #eef0ff;
}

.notification {
  color: red;
  margin-left: 2px;
}
