* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.black{
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 19px;
}
.font{
    font-size: 25px;
}
.font i{
    font-size: 35px;
    padding-right: 3px;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.nav1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#navbarSupportedContent .nav-item .nav-link {
    transition: 0.5s all;
}
#navbarSupportedContent .nav-item .nav-link:hover{
    transform: scale(1.15);
}
.navbar-dark .navbar-nav .nav-link {
    color: white
}
.mt-5 {
    margin-top: 10rem!important;
}
main {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.phoneBanner {
    background-color: rgba(29, 38, 113, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}
.text-light {
    color: #f8f9fa!important;
}
.btn {
    border: 0;
    color: rgba(255, 255, 255, 0.85);
    background-color: #294d5c;
    transition: all 0.15s;
}
.btn:hover{
    background-color: #fff;
}

.table-responsive {
    overflow-x: auto;
}


.gradient-custom {
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

.size{
    font-size: 20px;
}
p {
    margin: 0 0 16px;
}
.fw-bold{
    padding-left: 5px;
    font-size: 17px;
}

header h3 {
    padding-top: 15px;
    text-align: center;
    font-size: 210%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
#formPhone {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsl(216deg 83% 68% / 31%);
    padding: 2%;
    background-image: linear-gradient(250deg, #e3ecfd, #fff0e8);
}
#btnAddPhone, #btnUpdate {
    background-color: #f0b80f;
}
.btn:hover {
    outline: none;
    background-color: #5f9db8;
    color: black;
}